## Relatórios de Análise IV

## Seleções de Frequência

In [24]:
import pandas as pd

In [25]:
dados = pd.read_csv ('dados/aluguel_residencial.csv', sep =';')

In [26]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [27]:
# Selecione somente os imóveis classificados com tipo apartamento
selecao = dados['Tipo']== 'Apartamento'
n1 =  dados[selecao].shape[0]
n1

19532

In [29]:
# Selecione somente os imóveis classificados com tipo casa, casa de condomínio e casa de vila
selecao = (dados['Tipo']== 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo']== 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

2212

In [32]:
#Selecione os imóveis com áreas entre 60 e 100 m² incluindo os limites
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

In [38]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00
selecao = (dados['Quartos'] >= 4) & (dados["Valor"] < 2000)
n4 = dados[selecao].shape[0]
n4

41

In [44]:
print (f'''O número de imóveis classificados como apartamento são {n1}. 
Já os classificados como casa somam {n2} unidades. 
Agora, os imóveis que possuem áreas entre 60 e 100 m², incluindo-os, somam {n3}. 
Os imóveis com pelo menos 04 quartos e valor menor de R$ 22000,00 são {n4}.''')

O número de imóveis classificados como apartamento são 19532.
Já os classificados como casa somam 2212 unidades.
Agora, os imóveis que possuem áreas entre 60 e 100 m², incluindo-os, somam 8719.
Os imóveis com pelo menos 04 quartos e valor menor de R$ 22000,00 são 41.